<p-toast></p-toast>

<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <button pButton type="button" icon="pi pi-refresh" label="Actualizar listado de productos" (click)="getProducts()"></button>
  </ng-template>

  <ng-template pTemplate="right">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Buscar..." />
    </span>
  </ng-template>
</p-toolbar>

<p-table #dt [value]="products" [(selection)]="selectedProduct" dataKey="id" [paginator]="true" [rows]="10" [responsive]="true" [globalFilterFields]="['product_name']">
  <ng-template pTemplate="header">
    <tr>
      <th>Producto o Servicio</th>
      <th>Cantidad disponible</th>
      <th>Precio</th>
      <th>Compañia</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.product_name}}</td>
      <td>{{product.product_stock}}</td>
      <td>{{product.product_price | currency:'USD':'symbol':'1.2-2'}}</td>
      <td>Empresa 1</td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-gmap [options]="options" [style]="{'width':'100%','height':'320px'}" ></p-gmap>
